body{

    .woocommerce-info{
        background: #e8e8e8;
        padding: 15px;
        color: $grey;
        font-size: 1.6rem;
        margin-top: 10px;
     
    
        a{
            color:$black;

            &.button{
                color:$white;
            }
        }
    }

    .woocommerce-form-coupon{
        background: $grey_medium;
        padding: 15px;
        font-size: 1.6rem;

        p:first-of-type{
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .form-row-first, .form-row-last{
            display: inline-block;
        }

        button{
            padding: 10px;
            border: 1px solid $black;

            &:hover{
                background-color: lighten($black, 35%);
                border-color: lighten($black, 35%);
            }
        }
    }

    &.woocommerce-checkout{

        .woocommerce-form-login{
            display:grid;
            grid-template-columns: 1fr;
            @include md {
                grid-template-columns: 1fr 1fr;
            }
            grid-gap: 0px 30px;
            background: $grey_medium;
            padding: 15px;
            font-size: 1.6rem;

            p{
                grid-column: 1 / -1;
                margin-top:0px; 
                &.form-row-first, &.form-row-last{
                    grid-column: unset;
                }

                &.lost_password{
                    text-align: right;
                }

                label:not(.woocommerce-form__label-for-checkbox){
                    display: block;
                }
                input#username, input#password{
                    width: 100%;
                }

                .woocommerce-form-login__submit{
                    float: right;
                }
            }
        }
    }

    form.woocommerce-checkout{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "notice"
            "left" 
            "right";
        grid-gap: 30px;

        @include md {
            grid-template-columns: 6fr 5fr;
            grid-template-areas: 
                "notice notice"
                "left right";
            grid-gap: 15px 100px;
        }

        .woocommerce-NoticeGroup{
            grid-area: notice;
           

            .woocommerce-error{
                background-color: $grey_c1;
                padding: 15px;
            }
        }
       

        .checkout_left{
            grid-area: left;

            .woocommerce-billing-fields{
                h3{
                    font-size: 1.8rem;
                    text-transform: none;
                    font-weight:500;
                }
            }
            .woocommerce-billing-fields__field-wrapper, .woocommerce-shipping-fields__field-wrapper, .woocommerce-EditAccountForm{
                display: grid;
                grid-gap: 30px;
                grid-template-columns: 1fr;
                @include md {
                    grid-template-columns:1fr 1fr;
                }
                @include lg {
                    grid-template-columns:2fr 4fr;
                }

                .form-row-first{
                    
                }
                .form-row-last{

                }
                .form-row-wide{
                    grid-column: 1 / -1;
                }

                p.form-row{
                    margin-top: 0px;
                    margin-bottom: 0px;
                    label{
                        display: block;
                        font-size: 1.4rem;
                        font-weight: 400;
                        color:$black;

                        abbr.required{
                            color:$red;
                        }
                    }

                    input{
                        width: 100% ;
                        border-color: $grey_e1;
                        margin-bottom: 0px;
                        font-size: 1.4rem;
                    }
                }

                #billing_country_field{

                    
                }
            }

            #ship-to-different-address{
                font-size: 1.6rem;
                font-weight: 400;
                text-transform: none;
                background-color: $grey_light;
                padding: 15px;
                label{
                    display: flex;
                    align-items: center;
                }
                input{
                    margin: 0px 15px 0px 0px;
                }
            }

            .woocommerce-additional-fields{
                label{
                    display: block;
                    margin-bottom: 5px;
                }

                #order_comments{
                    width: 100%;
                    border-color: $grey_e1;
                    resize: vertical;
                }
            }
            
        }

        .checkout_right{
            grid-area: right;

            #order_review_heading{
                //display: none;
                font-size: 1.8rem;
                text-transform: none;
                font-weight: 500;
            }


            #order_review{
                .woocommerce-checkout-review-order-table{
                    tr {
                        td, th{ vertical-align: top;}
                    }
                    tfoot{
                        th:after{
                        content: ':';
                        }
                    }
                }
            }

            

       

        #customer_detail{

        }

    }
}


#payment {
    .wc_payment_methods{
       list-style: none; 
       padding-inline-start: 0px;
       border: 1px solid $grey_light;
       padding:15px;

       .payment_method_epay_dk{
            label{ 
                font-weight: 800;
                img{
                    margin-top: 10px;
                    margin-bottom:20px;
                    display: block;
                    width: 150px;
                }
            }

            .payment_box{
                background:$grey_light;
                padding: 15px;
            }
       }
    }  
}

.woocommerce-terms-and-conditions-wrapper{
    background-color: $grey_light;
    padding: 15px;
    margin-bottom: 20px;
}

#place_order{
    width: 100%;
    text-transform: none;
    background-color: $green;
    border-color: $green;
    border-style: solid;
    font-size: 1.8rem;
    font-weight: 600;
    &:hover{
        background-color: lighten($green, 15%);
        border-color: lighten($green, 15%);

    }
}
}


.shop_table{
    width: 100%;
    border-collapse: collapse;

    tr {
        td, th{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid $grey_light;
            //vertical-align: top;
        }

        > *:first-child{
            text-align: left;
        }

        > *:last-child{
            text-align: right;
        }

        &.cart_item:last-of-type{
            border-bottom: 2px solid $grey_light;
        }
    }
    
    #shipping_method{
        list-style-type: none;
        padding-inline-start: 0;
        float: right;
    }

    tfoot{
        
        th, td{
            color:$grey;
            font-weight: 400;
        }


        
    }

    .order-total{
        th, td{
            font-size: 1.8rem;
            font-weight: 600!important;
            vertical-align: middle!important;
            color:$black;
        }

        .includes_tax{
            display: block;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }


    
}


.select2-selection--single{
    border-color:$grey_e1!important;
    border-radius: 0px!important;
    height: 50px!important;
}

.select2-selection__rendered{
    line-height: 50px!important;
}

.select2-selection__arrow{
    height: 50px!important;
}

.select2-dropdown{
    border-color:$grey_e1!important;
}